body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.item-group {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin: 32px;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  flex: none;
  justify-content: center;
  text-align: center;
}
